@import "tailwindcss";

html, body {
  width: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
  background-color: #000000; 
  color: #ffffff;
   scrollbar-width: none;
  -ms-overflow-style: none;
}

section{
  padding: 15px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
} 
